#home-container {
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 20px;
    
}

#navbar {
    position: sticky;
    top: 0;
    background: azure;
    z-index: 1000;
}

.flex-column {
    position: sticky;
    top: 100px;
    height: fit-content;
}

#left-sidebar {
    display: flex;
    background-color: rgb(244, 248, 176);

}

#main-content {
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(208, 222, 248);
    
}

#create-post-btn {
    position: fixed; /* Giữ nút ở vị trí cố định so với cửa sổ trình duyệt */
    bottom: 20px;    /* Cách mép dưới màn hình 20px */
    right: 20px;     /* Cách mép phải màn hình 20px */
    width: 150px;     /* Chiều rộng của nút */
    height: 60px;    /* Chiều cao của nút */
    border-radius: 60px; /* Bo tròn các góc của nút */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 17px; /* Kích thước chữ */
    font-weight: bold; /* In đậm chữ */
}

#create-post-btn:hover {
    background-color: #0056b3; /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}

.like-btn {
    margin-left: auto; /* Đẩy nút Like về phía bên phải */
}

.like-btn-cmt {
    margin-left: auto; /* Đẩy nút Like về phía bên phải */
}

.btn-forModal {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(11, 97, 255);
    font-weight: bold;
}

#footer {
    background-color: rgb(123, 172, 202);
    padding: 20px;
    text-align: center;
}

.post-preview{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.no-cmt {
    display: flex;
    justify-content: center;
    height: 100%;
}

.crow {
    display: flex;
    justify-content: center;
    width: 150px;         /* Required */
    height: 90px;        /* Required */
    object-fit: cover;    /* Scales and crops to fit the box */
    object-position: top; /* Focuses on the top of the image */
    align-items: center;
    margin: 0 auto;

}